@charset "UTF 8";
html{
    box-sizing: border-box;
  }
  {
    box-sizing: inherit;
  }
  /* header styles */
header{
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 88px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
#head{
    display: inline;
}
 #header_list{
    position: absolute;
    top: 32px;
    left: 621px;
    width: 613px;
    height: 24px;
    opacity: 1;
} 
header p{
    position: absolute;
    top: 27px;
    left: 188px;
    width: 200px;
    height: 41px;
    text-align: left;
    font: regular 30px nunito;
    opacity: 1;
}
#phone{
    position: absolute;
    top: 24px;
    left: 142px;
    width: 38px;
    height: 38px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
#red{
    color: #B60B05;
}
/* main styles */
main h1{
    position: absolute;
    top: 146px;
    left: 541px;
    width: 190px;
    height: 49px;
    text-align: left;
    font: bold 36px nunito;
    color: #229de8;
    opacity: 1;
}
#firstname{
    border-top: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    position: absolute;
    top: 240px;
    left: 164px;
    width: 417px;
    height: 10px;
}
#username{
    border-top: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    position: absolute;
    top: 325px;
    left: 164px;
    width: 417px;
    height: 10px;
}
#password{
    border-top: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    position: absolute;
    top: 400px;
    left: 164px;
    width: 417px;
    height: 10px;
}
 #lastname{
    border-top: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    position: absolute;
    top: 240px;
    left: 764px;
    width: 417px;
    height: 10px;
}
 #email{ 
    border-top: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    position: absolute;
    top: 325px;
    left: 764px;
    width: 417px;
    height: 10px;
}
#password_confirm{
    border-top: 0px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    position: absolute;
    top: 400px;
    left: 764px;
    width: 417px;
    height: 10px;
} 
#blue{
    color: #229de8;
}
#agree{
    position: absolute;
    top: 559px;
    left: 204px;
    width: 353px;
    height: 24px;
    text-align: left;
    font: regular 18px nunito sans;
}
#agree1{
    position: absolute;
    top: 563px;
    left: 162px;
    width: 25px;
    height: 24px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;

}
#signup{
    position: absolute;
    top: 637px;
    left: 532px;
    width: 248px;
    height: 49px;
    background: #229de8 0% 0% no-repeat padding-box;
    border-radius: 5px;
}
/* footer styles */
#lastdiv{
    position: absolute;
    top: 695px;
    left: 50px;
    width: 1267px;
    height: 100px;
    background: #229de8 0% 0% no-repeat padding-box;
    border-radius: 48px 48px 0px 0px;
    opacity: 1;
}
#foot{
     display: inline;
}
#footer_list{
    position: absolute;
    top: 725px;
    left: 140px;
    width: 160px;
    height: 24px;
    text-align: left;
    font: regular 18px nunito sans;
    color: #ffffff;
}
.face{
    position: absolute;
    top: 730px;
    left: 652px;
    width: 11px;
    height: 21px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
.twitter{
    position: absolute;
    top: 730px;
    left: 680px;
    width: 28px;
    height: 21px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}